/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --text-color: #121A2D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 8px 32px;
}

#logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-color);
}

.nav-container {
  background-color: #fafbff;
  border-bottom: 2px #121A2D;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  height: 100%;
  gap: 16px;
}

.navbar ul li {
  height: 100%;
}

.navbar ul a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px !important;
  border-radius: 4px;
}

.options-container {
  gap: 24px !important;
}

.btn {
  border-radius: 8px;
  padding: 8px 32px;
}

.btn.btn--primary {
  color: white;
  background: linear-gradient(90deg, #3590e0 0%, #903bb5 100%);
}

.btn.btn--primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.gradient-text {
  background: linear-gradient(to right, #075fb6, #4c078d, #ff00ff, #00ced1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.gradient-text.gradient-text--large {
  font-size: 90px;
  font-weight: 600;
}

.gradient-text.gradient-text--small {
  font-size: 40px;
  font-weight: 400;
}

.main-content-controller {
  margin-top: 20vh;
  padding: 0 27vw;
}

.main-description {
  margin-top: 16px;
  color: #4B5564;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.button-container {
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 32px;
}

.button-container .btn {
  font-size: 20px;
}

.button-container a {
  text-decoration: none;
}

.button-container .btn.btn--usual {
  border: 2px solid var(--text-color);
  background-color: white;
  color: var(--text-color);
}

.features-container {
  margin-top: 64px;
  padding: 0 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.feature {
  padding: 32px;
  width: 31%;
  background-color: #FAFBFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all .3s ease;
  min-height: 260px;
}

.feature .feature___title {
  color: var(--text-color);
  font-size: 20px;
  margin: 12px 0;
}

.feature .feature__description {
  color: #4B5564;
}

.feature:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.feature:hover .feature__icon {
  transform: scale(1.5);
}

.last {
  margin-bottom: 50px;
}

.feature.main-goal {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  margin: 64px 200px 0;
  padding: 64px 256px;
  gap: 24px;
  width: auto;
}

.feature:hover.main-goal{
  box-shadow: inset;
  transform: translate(0);
}

.feature.main-goal .feature__title {
  font-size: 30px;
}

.feature.main-goal .feature__description {
  font-size: 20px;
  font-weight: 350;
  color: gray;
}

.feature.main-goal.main-goal--gradient {
  background: linear-gradient(to right, #075fb6, #4c078d, #ff00ff, #00ced1);
  color: white !important;
}

.feature.main-goal.main-goal--gradient .feature__title {
  color: white;
  font-size: 30px;
}
